.align-modal{
    position: absolute;
    width: 200px;
    height: 200px;
    right: 5px;
    top:110px;
    border-radius: 5px;
    background-color: #1C2333;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: top right;
    transform: scale(0.8);
    filter: drop-shadow(0px 0px 5px #0000006d);
}
.align-modal-container{
    display: flex;
    width:200px;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.align-modal-container > *:hover{
    cursor: pointer;
    background-color: #35405a;
    color: #ffffff;
}
.align-modal-container-color {
    display: flex;
    width:200px;
    position: absolute;
    top: 0px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.align-modal-container-color>*{
    background-color: #1C2333 !important;
}
.align-up,.align-down,.align-left,.align-right,.align-down-right,.align-down-left,.align-up-right,.align-up-left,.align-center{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #252e45;
    display: flex;
    justify-content: center;
    color:rgba(240, 248, 255, 0.347);
    align-items: center;
    margin: 5px;
    transition: all 0.5s;
}
.align-up-left > *{
    transform-origin: center;
    transform: rotate(-45deg);
}
.align-up-right > *{
    transform-origin: center;
    transform: rotate(45deg);
}
.align-down-left > *{
    transform-origin: center;
    transform: rotate(-135deg);
}
.align-down-right > *{
    transform-origin: center;
    transform: rotate(135deg);
}

.align-remove{
    width: 150px;
    height: 20px;
    border-radius: 5px;
    background-color: #252e45;
    display: flex;
    justify-content: center;
    color:rgba(240, 248, 255, 0.347);
    align-items: center;
    margin: 2px;
    transition: all 0.5s;
}
.w-color-swatch{
    display: none !important;
}
.color-button{
    width: 200px;
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border-radius: 5px;
    border:1px solid #7d859a;
    background-color: #252e45;
    display: flex;
    justify-content: center;
    color:rgba(240, 248, 255, 0.347);
    align-items: center;
    margin: 2px;
    transition: all 0.5s;
}
.color-button:hover{
    cursor: pointer;
    border:1px solid #dde1eb;
    background-color: #35405a;
    color: #ffffff;
}
.color-swatches{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 80px;

    padding:0;
    margin:0;
    position: absolute;
    top:10px;
    left:0px;
    transform:translateX(-100%);
    z-index: 2000;
}
.color-swatch{
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
}
