.delete-template{
    position: absolute;
    top: 0;
    left:0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height:100vh;
    background-color: #00000087;
}
.delete-template-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    color: #ffffffc3;
    height: 200px;
    background-color: #1C2333;
    border-radius: 5px;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif    ;
    filter: drop-shadow(0px 0px 10px #000000de);
    animation: fadeIn 0.6s ease;

}
@keyframes fadeIn {
    0% {
        opacity: 0.3;
        transform: translateY(-20px);
    }
    50%{
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}
.delete-template-modal-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    gap:15px;
    margin-top: 20px;
}
.delete-template-modal-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #173c90;
    border-radius: 5px;
    border: 1px solid #ffffffc6;
    color: #ffffffc6;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.delete-template-modal-button:hover{
    background-color: #1c4aa8;
}
