.editor{
    width: calc(100vw - 20px);
    position: absolute;
    bottom:45px;
    left:10px;
}
.editor-small{
    width:calc(100vw - 260px);
    height: fit-content;
    position: absolute;
    bottom:45px;
    left:10px;

}
.top-bar-font-size{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right:10px;
}
.font-size-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1px;
    width: 10px;
}
.font-size-button-up{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    border-radius: 10%;
    background-color: #224491;
    color: #ffffffc6;
    cursor: pointer;
    border-bottom:1px solid black;
}
.font-size-button-down{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    border-radius: 10%;
    background-color: #224491;
    color: #ffffffc6;
    cursor: pointer;
}
.font-size-button-up:hover,.font-size-button-down:hover{
    background-color: #4179b9;
    color: #ffffff;
}
.top-bar-font-size > input{
    font-size: 1.2rem;
    width: 50px;
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
    outline: none;
    user-select: none;
    pointer-events: none;
    border:none;
}
.top-bar-font-size > input:focus{
    outline: none;
}
.editor .buttons,.editor-small .buttons{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #1C2333;
    width: 100%;
    height: fit-content;
    gap:15px;
}

.buttons > *{
    margin-left:10px;
}
div.DraftEditor-root {
    border: 1px solid #000;
    background-color: rgb(242, 242, 234);

    height: 300px;
    width: 100%;
    overflow-y: auto;
  }

.RichEditor-controls{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #1C2333;
    /* width: 100%; */
    z-index: 1;
    cursor: pointer;
    gap:1px;
}
.RichEditor-styleButton{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:5px 2px;
    padding: 10px;
    background-color: #173c90;
    border: 1px solid #ffffffc6;
    color: #ffffffc6;
    border-radius: 5px;
}
.RichEditor-styleButton:hover{
    background-color: #ffffffc6;
    border: 1px solid #173c90;
    color: #173c90;
}
.RichEditor-activeButton{
    padding: 10px;
    background-color: #515f7f;
    border: 1px solid #000000;
    color: #060606c6;
}
.project-editor-template{
    position: absolute;
    width: calc(100vh * 1.5625) !important;
    transform-origin: center right !important;
    height: 100vh !important;
    transform: scale(0.25) translateY(-10%);

}
.project-editor-template-small{
    position: absolute;
    width: calc(100vh * 1.5625) !important;
    transform-origin: center right !important;
    height: 100vh !important;
    transform: scale(0.25);
    bottom:200px;

}
.project-editor-template, .project-editor-template-small{
    position: absolute;

    bottom: 50px;
    right: 50px;
    border: 1px solid #000000;
    background-color: #1C2333;
    z-index: 1;
}
.project-editor-template >div> p, .project-editor-template-small >div> p{
    padding: 0;
    margin: 0;

}
.project-editor-template > *, .project-editor-template-small > *{
    opacity: 0.45;
}
.project-editor-template > *:hover, .project-editor-template-small > *:hover{
    opacity: 1;
    cursor: pointer;
}
.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1C2333;
    width: 99vw;
    height: 45px;
    margin-left: -25px;
    margin-top:-15px;
    padding: 0 15px;
    z-index: 1;
    transition: all 0.5s;
}
.top-bar-small{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1C2333;
    width: calc(99vw - 15.4rem);
    margin-left: -25px;
    margin-top:-15px;
    height: 45px;
    padding: 0 15px;
    z-index: 1;
    transition: all 0.5s;
}
.top-bar-button{
    background-color: #0053A6;
    border: 1px solid #ffffffc6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffffee;
    padding: 5px 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
    transition: all 0.2s;
}
.top-bar-button:hover{
    background-color: #176abd;
    border: 1px solid #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    padding: 5px 9px;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
}
.top-bar-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.toolbar-break{
    width: 2px;
    margin: 0 10px;
    height: 30px;
    background-color: #ffffff27;
}
.top-bar-left{
    display: flex;
    gap: 10px;
    margin-left:20px;
    font-size:1.1rem;
    color: #ffffffc6;
}
.editor-selected-preview>p{
    padding: 0;
    margin: 0;
}
.top-bar-preview{
    font-size:1.1rem;
}
.childrenNoSelect > *{
    position: relative;
    margin-top: 0px;
    user-select: none;

}
.childrenNoSelect > p{
    cursor: pointer;
    display: block !important;
}
.Draftail-Editor{

    width: 30vw !important;
    height: 45px;
    background-color: #1C2333;
    z-index: 1;
}
.spinner{
    animation: spin 1s infinite linear;
}
figure{
    margin: 0 !important;
    padding: 0 !important;
    display: inline;
}
br{
   height:0px !important;
}
.no-file-selected{
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#ffffff;
    font-size: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
    background-color: #0000007e;
    z-index: 100;
    margin: 0;
    padding:0;
    left: 0;
    top: 0;
}
.no-file-helper-text{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    left:20px;
    top:255px;
    animation: wobbleLeft 1s infinite ease-in-out;
}
@keyframes wobbleLeft {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0px);
    }
}

.option0{
    font-family: 'Arial';
}
.option1{
    font-family: 'Times New Roman';
}
.option2{
    font-family: 'Courier New, Courier, monospace';
}
.option3{
    font-family: 'Georgia, serif';
}
.option4{
    font-family: 'Verdana';
}
.option5{
    font-family: 'Impact';
}

.option6{
    font-family: 'Lucida';
}

.option7{
    font-family: 'Tahoma';
}
.top-bar-font-family{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
    color: #2f2f2f;
}
.editor-cover{
    width: 101%;
    height: 100%;
    position: absolute;
    background-color: #0e1525e3;
    z-index: 100;
    display: flex;
    justify-content: flex-end;
}
.editor-cover-select-template{
    position: relative;
    z-index: 100;
    left:-5vw;
    top:20px;
    color: #ffffff;
    font-size:2rem;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex-direction: column;
    animation: pulseUpDown 1s ease-in-out infinite;
}
@keyframes pulseUpDown {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.highlight-preview{
    border-radius: 10px;
    background: linear-gradient(90deg, rgb(255, 255, 255) 50%, transparent 50%), linear-gradient(90deg, rgb(255, 255, 255) 50%, transparent 50%), linear-gradient(0deg, rgb(255, 255, 255) 50%, transparent 50%), linear-gradient(0deg, rgb(255, 255, 255) 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 120px 15px, 120px 15px, 15px 120px, 15px 120px;
    background-position: 0px 0px, 212px 100%, 0px 116px, 100% 0px;
    animation: stepDashedBorder2 10s linear infinite;
}
@keyframes stepDashedBorder2{
    0%{
        background-position: 0px 0px, 212px 100%, 0px 116px, 100% 0px;
    }
    50%{
        background-position: 212px 0px, 0px 100%, 0px 0px, 100% 116px;
    }
    100%{
        background-position: 0px 0px, 212px 100%, 0px 116px, 100% 0px;
    }
}
.top-bar-cover{
    position: absolute;
    left:0;
    top:0;
    background-color: #1c2333c4;
    width: 100%;
    height: 45px;
}
